.btn {
    width: 160px;
    height: 50px;
    display: block;
    margin: 0 auto;
    border-radius: 15px;
    border: none;
    font-size: 24px;
    text-align: center;
    background-color: grey;
    color: #fff;
}
td,th {
    width:30px;
    border: 1px solid black;
}
table {
    margin-left: 60px;
    margin-top: 30px;
    text-align: center;
}
.form {
    width: 700px;
    margin: 0 auto;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}
select, input {
    width: 180px;
    border-radius: 15px;
    outline: none;
    height: 40px;
}
.btn_open, .btn_close{
    outline: none;
    background-color: grey;
    color: #fff;
    border-radius: 15px;
    border: none;
}
.btn_close {
    width: 87px;
    height: 40px;
    position: absolute;
    left: 1050px;
    top: 30px;
}
.btn_close:hover {
    background-color: red;
    transition: 1s;
}
.btn_open:hover {
    background-color: orange;
    transition: 1s;
}
.btn_open1 {
    width: 154px;
    height: 40px;
    margin-left: 60px;
    outline: none;
}
